<%- include('../partials/header') %>
<head>
    <script defer src="/javascripts/calendar.js"></script>
</head>
<div class="calendar-container">
    <% for(let month = 0; month < calendar.length; month++) { %>

        <div class="month-container" id="<%= title %>">


        <div class="day-of-week">
            <span>Sun</span><span>Mon</span><span>Tue</span><span>
                Wed</span><span>Thu</span><span>Fri</span><span>Sat</span>
        </div>
        <% for(let week = 0; week < calendar[month].length; week++) { %>
        <div class="days">
            <% for(let day = 0;day < calendar[month][week].length;day++) { %>

            <div class="date">
                <div id="<%=calendar[month][week][day] %>">
                    <%= calendar[month][week][day] %>
                </div>
            </div>

            <% } %>
        </div>
        <% } %>
    </div>

    <% } %>
</div>

<%- include('../partials/footer') %>