<%- include('../partials/header') %>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="mealplan-form" action="/mealplans" method="POST">
        <label>Meal:</label>
        <select name="meal">
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Dessert">Dessert</option>
            <option value="Snack">Snack</option>
          </select>
          <label>Recipe:</label>
          <select name="recipe">
          <% recipes.forEach(function(r) { %>
            <option value="<% r.name %>"><%= r.name %></option>
            <% }); %>
          </select>
        <label>Date:</label>
        <input type="date" name="date" id="modal-date-input">
        <input type="submit" value="Add Meal to Plan">
      </form>
  </div>

</div>

<div class="calendar-container">

    <div class="month-container" id="<%= title %>">

        <div class="day-of-week">
            <span>Sun</span><span>Mon</span><span>Tue</span><span>
                Wed</span><span>Thu</span><span>Fri</span><span>Sat</span>
        </div>
        <% for(let week = 0; week < calendar[month].length; week++) { %>
        <div class="days">
            <% for(let day = 0;day < calendar[month][week].length;day++) { %>

            <div class="date">
                <div id="<%= `${year}-${month+1}-${calendar[month][week][day]}` %>">
                    <%= calendar[month][week][day] %>
                </div>
            </div>

            <% } %>
        </div>
        <% } %>
    </div>
    
</div>

<%- include('../partials/footer') %>